.emacs.d/.cache
.emacs.d/.dap-breakpoints
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.lsp-session-v1
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/eclipse.jdt.ls
.emacs.d/games
.emacs.d/projects
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/workspace
